body, body * {
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

nav{
    background-color: gray;
    color: black;
    padding: 10px;
}

nav img{
    width: 30px;
}

nav ul {
    margin-left: 5%;
}

nav li{
    display: inline;
    padding-right: 20px;
    vertical-align: middle;
}

#hero{
    background-image: url("../img/bg-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: right;
    padding: 80px;
}

#hero h1{
    font-size: 3rem;
}

#hero h3{
    font-size: 2rem;
    font-weight: 100;
}

#ubicacion{
    padding: 100px;
    text-align: center;
}

#ubicacion img{
    width: 40%;
    padding-bottom: 30px;
}

#ubicacion h2{
    font-size: 3rem;
}

#ubicacion p{
    font-size: 1.5rem;
}

#proxima-charla{
    background-color: #a4452c;
    padding: 100px;
    color: white;
}

#proxima-charla .wrapper{
    width: 55%;
    margin: auto;
}

.wrapper img{
    width: 25%;
}

.wrapper .texto{
    width: 70%;
    margin-left: 4%;
    font-size: 1rem;
}

.wrapper img, .texto{
    display: inline-block;
    vertical-align: middle;
}

.wrapper .texto h2{
    font-size: 2rem;
}

.wrapper .texto h3{
    font-size: 1rem;
}

.wrapper .texto p{
    width: 100%;
}

#eventos-anteriores{
    padding: 50px 0;
    margin: auto;
    width: 75%;
    text-align: center;
    line-height: 2;
}

#eventos-anteriores h2{
    line-height: 3;
}

.centrado{
    margin: 0 auto;
    width: 100%;
}

.centrado-imagen{
    display: inline-block;
    width: 30%;
    margin: 0 5px;   
}

.centrado-imagen img{
    width: 100%;
    height: 200px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer i{
    margin: 40px 5px 5px 5px;
    font-size: 30px;
    color: white;
}

footer p{
    margin-top: 20px;
}

